.testimonial {
    border: 1px solid black;
    margin: 10px;
    font-style: italic;
    max-width: 400px;
}

.map {
    border: 2px solid;
    margin: 20px;
}

.page-content {
    padding:10px 10%;
}

.testimonials {
    padding: 10px;
}

.footer {
    text-align: center;
    background-color: #343a40;
    color: white;
    padding: 10px;
}